@import "tailwindcss";
@layer base{
    .google map *{
        border-style: double;
    }
    @keyframes rotate-slow {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }@keyframes back-rotate {
    0% { transform: rotate(-360deg); }
    40% { transform: rotate(0deg); }
    
  }

  .animate-back-slow {
    animation: back-rotate 10s linear infinite;
  }
  .animate-rotate-slow {
    animation: rotate-slow 60s linear infinite;
  }
};
@layer theme{

};
@layer utilities{
    .bg-custom {
    background-image: url('/public/images/keyboard.png');
    
  }
};
:root{
    --acme-canvas-color: oklch(0.967 0.003 264.542);
}
@theme{
  --color-mode:#A64451;
  --color-modes:#F5F5F5
}
