@import "tailwindcss";

@layer base{
    .google map *{
        border-style: double;
    }
  
};

 @layer theme{

  }
  
@theme {
  
--shadow-love: 0 0px 20px rgba(0, 0, 0, 0.25); 

 

  --animate-scrollX: scrollX 30s linear infinite;

}

@keyframes scrollX {
  0%   { transform: translateX(-100%); }
  100% { transform: translateX(0%); }
}
